<!doctype html>
<html lang="en" ng-app="anisyncApp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Sync your Hummingbird list back to your MyAnimeList.">

  <title>Anisync</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/pure/0.6.0/pure-min.css">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/pure/0.6.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/pure/0.6.0/grids-responsive-min.css">
  <!--<![endif]-->
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/toggle-switch.css">
  <link rel="stylesheet" href="assets/css/ngProgress.css">
</head>

<body ng-controller="AnisyncCtrl">

  <div class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
      <div class="header">
        <h1 class="brand-title">Anisync</h1>
        <h2 class="brand-tagline">Bring a Kitsu anime list to MyAnimeList.</h2>

        <form name="mainForm" class="pure-form pure-form-stacked main-form">
          <label class="switch-light switch-android switch-mod">
            <input type="checkbox" ng-model="switchOn" ng-change="updateSwitch()">
            <span>
	          <span>Sync Off</span>
            <span>Sync On</span>
            </span>

            <a></a>
          </label>
          <fieldset>
            <input type="text" name="kitsuUserID" ng-model="req.kitsuUserID" title="Your kitsu.io user ID"
              placeholder="Kitsu user ID" class="sidebar-input pure-input-1" required>
            <input type="text" name="malUsername" ng-model="req.malUsername" title="Your MyAnimeList.net username"
              placeholder="MAL username" class="sidebar-input pure-input-1" required>
            <input type="password" name="malPassword" ng-model="req.malPassword" title="Your MyAnimeList.net password"
              placeholder="MAL Password" class="sidebar-input pure-input-1" ng-show="switchOn"
              id="malPasswordInput" ng-cloak ng-required="switchOn">

            <div class="pure-controls">
              <button type="button" ng-click="check(req)" class="pure-button sidebar-button"
                ng-disabled="mainForm.$invalid || mainForm.$pending" ng-hide="switchOn"
                ng-cloak>Check</button>
              <button type="button" ng-click="sync(req)" class="pure-button sidebar-button" ng-show="switchOn"
                id="syncButton" ng-disabled="mainForm.$invalid || mainForm.$pending"
                ng-cloak>Sync</button>
            </div>

          </fieldset>
        </form>
      </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
      <div class="pure-u-1">
        <div class="results" ng-cloak>
          <!-- <h1 ng-if="checkResp" class="content-subhead">Check results</h1> -->
          <div class="pie-holder" data-loading ng-show="loading">
            <img class="pie" src="assets/img/pie.gif" />
          </div>
          <div ng-include="'part/status.html'"></div>
          <ul ng-include="'part/needupdate.html'"></ul>
          <ul ng-include="'part/missing.html'"></ul>
          <ul ng-include="'part/uptodate.html'"></ul>
          <ul ng-include="'part/okay.html'"></ul>
        </div>
      </div>
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
  <script src="assets/js/anisync.js"></script>
  <script src="assets/js/ngProgress.min.js"></script>
  <script src="assets/js/ngRemoteValidate.js"></script>
</body>

</html>
