<!doctype html>
<html lang="en" ng-app="anisyncApp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Sync your Hummingbird list back to your MyAnimeList.">

  <title>Anisync</title>

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <!--<![endif]-->
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/toggle-switch.css">
  <link rel="stylesheet" href="assets/css/ngProgress.css">
</head>

<body ng-controller="AnisyncCtrl">

  <div class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
      <div class="header">
        <h1 class="brand-title">Anisync</h1>
        <h2 class="brand-tagline">Sync your Hummingbird list back to your MyAnimeList.</h2>

        <form class="pure-form pure-form-stacked">
          <label class="switch-light switch-android switch-mod" onclick="">
            <input type="checkbox" ng-click="switchToggle = !switchToggle">
            <span>
	          <span>Sync Off</span>
            <span>Sync On</span>
            </span>

            <a></a>
          </label>
          <fieldset>
            <input type="text" name="hbUsername" ng-model="req.hbUsername" title="Your Hummingbird.me username"
            placeholder="HB username" class="sidebar-input pure-input-1" required>
            <input type="text" name="malUsername" ng-model="req.malUsername" title="Your MyAnimeList.net username"
            placeholder="MAL username" class="sidebar-input pure-input-1" required>
	    <input type="password" name="malPassword" ng-model="req.malPassword" title="Your MyAnimeList.net password"
            placeholder="MAL Password" class="sidebar-input pure-input-1" ng-show="switchToggle" ng-cloak ng-remote-validate="/api/mal/verify">

            <div class="pure-controls">
              <button type="button" ng-click="check(req)" class="pure-button sidebar-button" ng-hide="switchToggle">Check</button>
              <button type="button" ng-click="sync(req)" class="pure-button sidebar-button" ng-show="switchToggle" ng-cloak>Sync</button>
            </div>

          </fieldset>
        </form>
      </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
      <div class="pure-u-1">
        <div class="results" ng-cloak>
          <!-- <h1 ng-if="checkResp" class="content-subhead">Check results</h1> -->
          <div class="pie-holder" data-loading ng-show="loading">
            <img class="pie" src="assets/img/pie.gif" />
          </div>
          <ul>
            <li ng-repeat="d in checkResp.NeedUpdate">
              <div class="result">
                <div class="pure-g">
                  <div class="thumb-wrapper pure-u-1-5">
                    <img ng-src="{{d.Anime.Image}}" class="thumb" alt="{{d.Anime.Title}} image">
                  </div>
                  <div class="pure-u-4-5">
                    <span class="tag tag-info">Need Update</span>
                    <h4 class="result-title">{{d.Anime.Title}}</h4>
                    <table class="pure-table pure-table-horizontal">
                      <thead>
                        <tr>
                          <th class="row-name"></th>
                          <th class="row-value">
                            <img class="row-icon" src="assets/img/myanimelist_icon.png" alt="myanimelist_icon">
                          </th>
                          <th class="row-arrow"></th>
                          <th class="row-value">
                            <img class="row-icon" src="assets/img/hummingbird_icon.png" alt="hummingbird_icon">
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-if="d.Status">
                          <td class="row-name">Status</td>
                          <td class="row-value">{{d.Status.Got}}</td>
                          <td class="row-arrow">
                            <ng-md-icon icon="trending_neutral" size="20"></ng-md-icon>
                          </td>
                          <td class="row-value">{{d.Status.Want}}</td>
                        </tr>
                        <tr ng-if="d.Rating">
                          <td class="row-name">Rating</td>
                          <td class="row-value">{{d.Rating.Got}}</td>
                          <td class="row-arrow">
                            <ng-md-icon icon="trending_neutral" size="20"></ng-md-icon>
                          </td>
                          <td class="row-value">{{d.Rating.Want}}</td>
                        </tr>
                        <tr ng-if="d.EpisodesWatched">
                          <td class="row-name">Ep. Watched</td>
                          <td class="row-value">{{d.EpisodesWatched.Got}}</td>
                          <td class="row-arrow">
                            <ng-md-icon icon="trending_neutral" size="20"></ng-md-icon>
                          </td>
                          <td class="row-value">{{d.EpisodesWatched.Want}}</td>
                        </tr>
                        <tr ng-if="d.LastUpdated">
                          <td class="row-name">Updated</td>
                          <td class="row-value">{{d.LastUpdated.Got | date:'medium'}}</td>
                          <td class="row-arrow">
                            <ng-md-icon icon="trending_neutral" size="20"></ng-md-icon>
                          </td>
                          <td class="row-value">{{d.LastUpdated.Want | date:'medium'}}</td>
                        </tr>
                        <tr ng-if="d.Rewatching">
                          <td class="row-name">Rewatching</td>
                          <td class="row-value">{{d.Rewatching.Got}}</td>
                          <td class="row-arrow">
                            <ng-md-icon icon="trending_neutral" size="20"></ng-md-icon>
                          </td>
                          <td class="row-value">{{d.Rewatching.Want}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </li>

          </ul>
          <ul>
            <li ng-repeat="d in checkResp.Missing">
              <div class="result">
                <div class="pure-g">
                  <div class="thumb-wrapper pure-u-1-5">
                    <img ng-src="{{d.Image}}" class="thumb" alt="{{d.Title}} image">
                  </div>
                  <div class="pure-u-4-5">
                    <span class="tag tag-danger">Missing</span>
                    <h4 class="result-title">{{d.Title}}</h4>
                    <table class="pure-table pure-table-horizontal">
                      <thead>
                        <tr>
                          <th class="row-name"></th>
                          <th class="row-value">
                            <img class="row-icon" src="assets/img/hummingbird_icon.png" alt="hummingbird_icon">
                          </th>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="row-name">Status</td>
                          <td class="row-value">{{d.Status}}</td>
                        </tr>
                        <tr>
                          <td class="row-name">Rating</td>
                          <td class="row-value">{{d.Rating}}</td>
                        </tr>
                        <tr>
                          <td class="row-name">Ep. Watched</td>
                          <td class="row-value">{{d.EpisodesWatched}}</td>
                        </tr>
                        <tr>
                          <td class="row-name">Updated</td>
                          <td class="row-value">{{d.LastUpdated | date:'medium'}}</td>
                        </tr>
                        <tr>
                          <td class="row-name">Rewatching</td>
                          <td class="row-value">{{d.Rewatching}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <ul>
            <li ng-repeat="d in checkResp.UpToDate">
              <div class="result">
                <div class="pure-g">
                  <div class="thumb-wrapper pure-u-1-5">
                    <img ng-src="{{d.Image}}" class="thumb" alt="{{d.Title}} image">
                  </div>
                  <div class="pure-u-4-5">
                    <span class="tag tag-success">Up to Date</span>
                    <h4 class="result-title">{{d.Title}}</h4>
                    <table class="pure-table pure-table-horizontal">
                      <thead>
                        <tr>
                          <th class="row-name"></th>
                          <th class="row-value">
                            <img class="row-icon" src="assets/img/myanimelist_icon.png" alt="myanimelist_icon">
                            <img class="row-icon" src="assets/img/hummingbird_icon.png" alt="hummingbird_icon">
                          </th>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="row-name">Status</td>
                          <td class="row-value">{{d.Status}}</td>
                        </tr>
                        <tr>
                          <td class="row-name">Rating</td>
                          <td class="row-value">{{d.Rating}}</td>
                        </tr>
                        <tr>
                          <td class="row-name">Ep. Watched</td>
                          <td class="row-value">{{d.EpisodesWatched}}</td>
                        </tr>
                        <tr>
                          <td class="row-name">Updated</td>
                          <td class="row-value">{{d.LastUpdated | date:'medium'}}</td>
                        </tr>
                        <tr>
                          <td class="row-name">Rewatching</td>
                          <td class="row-value">{{d.Rewatching}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
  <script src="assets/js/anisync.js"></script>
  <script src="assets/js/ngProgress.min.js"></script>
  <script src="assets/js/ngRemoteValidate.js"></script>
</body>

</html>
