* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: rgb(61, 146, 201);
}
a:hover,
a:focus {
  text-decoration: underline;
}
img.resize {
  width: 300px;
  height: auto;
}
img.responsive {
  width: 100%;
  height: auto;
  border-radius: 3px
}
img.thumb {
  max-width: 100px;
  max-height: auto;
  border-radius: 3px;
}
.thumb-wrapper {
  float: left;
}
ul {
  padding-left: 0;
}
ul li {
  list-style-type: none;
}
.results h1,
h2 {
  text-align: center;
}
.result {
  background-color: #eee;
  border-radius: 3px;
  padding: 10px;
  min-height: 170px;
}
.result-title {
  font-size: 1.5em;
  color: #222;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}
.tag {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  font-size: 80%;
  float: right;
}
.tag-danger {
  background: #D2567E;
}
.tag-success {
  background: #91D357;
}
input.sidebar-input {
  border: none!important;
  background-color: transparent!important;
  box-shadow: -0px 10px 0px -7px #777!important;
  -webkit-transition: box-shadow 0.3s!important;
  transition: box-shadow 0.3s!important;
}
input.sidebar-input:focus {
  outline: none!important;
  box-shadow: 0px 10px 0px -7px #ec8661!important;
}
input.sidebar-input-danger {
  box-shadow: -0px 10px 0px -7px #D2567E!important;
}
input.sidebar-input-success {
  box-shadow: -0px 10px 0px -7px #91D357!important;
}
.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
}
.sidebar {
  background: #333333;
  color: #fff;
}
.brand-title,
.brand-tagline {
  margin: 0;
}
.brand-title {
  text-transform: uppercase;
}
.brand-tagline {
  font-weight: 300;
  color: #777;
}
button.sidebar-button {
  background: transparent;
  border: 2px solid #777;
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
button.sidebar-button:hover,
button.sidebar-button:focus {
  border: 2px solid #ec8661;
  text-decoration: none;
}
button.sidebar-button:active {
  border: 2px solid #ec8661;
  background: #4b5360;
  text-decoration: none;
}
@media (min-width: 48em) {
  .content {
    padding: 2em 3em 0;
    margin-left: 25%;
  }
  .header {
    margin: 20% 2em 0;
    text-align: right;
  }
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}
