<!-- status bar with next button -->
<div class="pure-g" ng-if="statusBar.type == 'next'" ng-show="statusBar.visible">
  <div class="status status-{{statusBar.theme}} pure-u-21-24">
    <span>{{statusBar.message}}</span>
    <span ng-if="statusBar.cause">Reason: "{{statusBar.cause}}"</span>
  </div>
  <button class="statusbar-button pure-u-3-24" ng-click="clickNext()">
    <ng-md-icon icon="navigate_next" size="40" style="fill: #fff"></ng-md-icon>
  </button>
</div>
<!-- status bar with details button -->
<div class="pure-g" ng-if="statusBar.type == 'details'" ng-show="statusBar.visible">
  <div class="status status-{{statusBar.theme}} pure-u-21-24">
    <span>{{statusBar.message}}</span>
    <pre ng-if="statusBar.detailsVisible">{{statusBar.errorMessage}}</pre>
  </div>
  <button class="statusbar-button statusbar-button-{{statusBar.theme}} pure-u-3-24" ng-click="statusBar.detailsVisible = !statusBar.detailsVisible">
    <ng-md-icon ng-if="!statusBar.detailsVisible" icon="expand_more" size="40" style="fill: #fff"></ng-md-icon>
    <ng-md-icon ng-if="statusBar.detailsVisible" icon="expand_less" size="40" style="fill: #fff"></ng-md-icon>
  </button>
</div>
<!-- status bar -->
<div class="pure-g" ng-if="statusBar.type == 'simple'" ng-show="statusBar.visible">
  <div class="status status-{{statusBar.theme}} pure-u-1">
    <span>{{statusBar.message}}</span>
    <span ng-if="statusBar.cause">Reason: "{{statusBar.cause}}"</span>
  </div>
</div>
